[submodule "ext/munt"]
	path = ext/munt
	url = https://github.com/munt/munt.git
[submodule "ext/libADLMIDI"]
	path = ext/libADLMIDI
	url = https://github.com/Wohlstand/libADLMIDI.git
[submodule "ext/libOPNMIDI"]
	path = ext/libOPNMIDI
	url = https://github.com/Wohlstand/libOPNMIDI.git
[submodule "ext/TinySoundFont"]
	path = ext/TinySoundFont
	url = https://github.com/schellingb/TinySoundFont
